body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2 {
    color: #0056b3;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input[type="file"],
input[type="text"],
input[type="number"] {
    width: calc(100% - 22px);
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.plotly-graph-div {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: #fff;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.plot-container {
    width: 100%;
    box-sizing: border-box;
}

.plot-item {
    width: 98%; /* Slightly less than 100% */
    padding-bottom: 15px;
    background-color: #f9f9f9;
    clear: both;
    box-sizing: border-box;
}

.plot-item > div {
    width: 100% !important;
    height: 500px !important;
    min-height: 500px !important;
}

.js-plotly-plot {
    width: 100% !important;
    height: 500px !important;
}