
        <!DOCTYPE html>
        <html>
        <head>
            <title>Vibration Impact Analysis</title>
            <link rel="stylesheet" href="/static/style.css">
        </head>
        <body>
            <h1>Upload Data for Vibration Impact Analysis</h1>
            <h2>Access URL: {{ app_url }}</h2>
            <form action="/preview" method="post" enctype="multipart/form-data">
                <label for="force_csv">Force CSV:</label><br>
                <input type="file" id="force_csv" name="force_csv"><br><br>

                <label for="other_csvs">Vibration Measurements CSV Files (can upload multiple):</label><br>
                <input type="file" id="other_csvs" name="other_csvs" multiple><br><br>

                <label for="channel_distances">Channel Distances (comma-separated):</label><br>
                <input type="text" id="channel_distances" name="channel_distances"><br><br>

                <label for="impact_times">Impact Times (comma-separated):</label><br>
                <input type="text" id="impact_times" name="impact_times"><br><br>

                <label for="train_length">Train Length (m):</label><br>
                <input type="number" id="train_length" name="train_length" step="any" value="70.0"><br><br>

                <label for="receiver_distances">Receiver Distances (m):</label><br>
                <input type="text" id="receiver_distances" name="receiver_distances" value="5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80"><br><br>

                <label for="receivers_data_excel">Receivers Data Excel</label><br>
                <input type="file" id="receivers_data_excel" name="receivers_data_excel"><br><br>

                <label for="fds_csv">FDS CSV File:</label><br>
                <input type="file" id="fds_csv" name="fds_csv"><br><br>

                <label for="floor_resonance_frequencies">Floor Resonance Frequencies (comma-separated):</label><br>
                <input type="text" id="floor_resonance_frequencies" name="floor_resonance_frequencies" value="20, 25, 31.5"><br><br>

                <label for="db_amount">Floor Resonance dB:</label><br>
                <input type="text" id="db_amount" name="db_amount" value="6"><br><br>

                <label for="source_depth">Source Depth (m):</label><br>
                <input type="number" id="source_depth" name="source_depth" step="any" value="0.0"><br><br>

                <label for="save_path">Save Results Path (optional):</label><br>
                <input type="text" id="save_path" name="save_path"><br><br>

                <label>Units:</label><br>
                <div style="display: inline-block;">
                    <input type="radio" id="metric" name="units" value="metric" checked style="display: inline;">
                    <label for="metric" style="display: inline; margin-right: 20px;">Metric</label>
                    <input type="radio" id="imperial" name="units" value="imperial" style="display: inline;">
                    <label for="imperial" style="display: inline;">Imperial</label>
                </div><br><br>

                <input type="submit" value="Preview Data">
            </form>
        </body>
        </html>
        